# Ignore Terraform cache & metadata
.terraform/
terraform.tfstate.d/
terraform.tfstate
terraform.tfstate.backup

# Ignore sensitive backend config files
*.tfvars
*.tfvars.json
backend-config.tfvars

# Ignore local execution logs
crash.log
